<div id="comm"></div>
<div id="wrapper">
  <div *ngFor="let opp of opps" (click)="transmit(opp)" class="tiles">
    <div class="names">
      {{ opp }}
    </div>
    <div class="info">
      <img class="coins" src="..\..\assets\img\coins.png" />
      <div>2</div>
      <button class="interact">Action</button>
    </div>
    <div>
      <img class="cards" src="..\..\assets\img\captain.png" />
    </div>
    <div>
      <img class="cards" src="..\..\assets\img\contessa.png" />
    </div>
  </div>
</div>
